// *
//   outline: 1px solid $gray-500

$headerHeight: 57px
$footerHeight: 50px

/*------------------------------------*/
/* Layout   
/*------------------------------------*/ 
.main
  margin-bottom: 50px

@media (max-width: 1199px)
  body             // 包住 header | main | footer 的容器
    min-height: 100vh  // for 讓 footer 在內容太少，也可以置底
    display: flex
    flex-direction: column  // 區塊以垂直軸由上往下排列

  .main
    margin-bottom: 70px
    flex: 1       // 填滿容器高度

@media (max-width: 991px)
  .main
    margin-bottom: 30px


/*------------------------------------*/
/* Map   
/*------------------------------------*/
#map 
  height: calc(100vh - 57px - 50px)
  // height: 100%  safari 無法自動撐開高度，父層容器需指定實際高度
.map
  border: $lineStyle
  flex: 1
  // margin-left: -15px
  // margin-right: -15px

.mainWrap
  height: calc(100vh - 57px - 50px)
  overflow-y: scroll
  overflow-x: hidden

@media (max-width: 1199px)
  #map 
    height: 40vh
    flex: 1
  .map
    
    // margin-right: -15px
  .mainWrap
    height: 100%
    overflow-y: inherit


/*------------------------------------*/
/* Counter   
/*------------------------------------*/
.alertCustomize
  width: 50%
  border:
    top: $lineStyle
    right: $lineStyle
    left: 0
    bottom: $lineStyle
  margin-bottom: 0
  &:last-child
    border:
      // right: $lineStyle
  
.counter
  font-weight: 900

.icon-warning
  vertical-align: bottom
  margin-right: 8px

@media (max-width: 1199px)
  .alertCustomize
    margin-top: 16px

@media (max-width: 767px)
  .alertCustomize
    font-size: 14px
    padding: 8px
    margin-top: 8px
  .icon-warning
    +size(20px)

@media (max-width: 479px)
  .alertCustomize
    display: block
    text-align: center
  .counter
    display: block

@media (max-width: 374px)
  .alertCustomize
    font-size: 12px
    padding: 8px 0
  .icon-warning
    +size(15px)
    vertical-align: sub


/*------------------------------------*/
/* Form Select   
/*------------------------------------*/    
.form-inlineCustomize
  margin: 0px 0 24px
  .form-group
    width: 33.33%
    background-color: $blue-light // #d0e3f5 
    border: 
      right: $lineStyle
      bottom: $lineStyle
    padding: 24px 
    label
      color: $gray-700
      display: block
      margin-bottom: 8px
    select
      width: 100%
      color: $gray-700
      background: url('../images/icon-dropdownToggle.svg') no-repeat
      background-color: $gray-100
      background-size: 10px 
      background-position: right 4% center

      // 將預設的select選擇框樣式清除
      appearance: none
      -moz-appearance: none    // Firefox 
      -webkit-appearance: none // Safari 和 Chrome 
    &:nth-child(2)
      label, select
        opacity: 0.5
    &:nth-child(3)
      label, select 
        opacity: 0.5

@media (max-width: 1199px)
  .form-inlineCustomize
    margin-bottom: 8px

@media (max-width: 767px)
  .form-inlineCustomize
    .form-group
      padding: 8px 16px
      label
        font-size: 13px
        margin-bottom: 4px
      select
        font-size: 14px
        height: 30px

@media (max-width: 639px)
  .form-inlineCustomize
    .form-group
      padding: 8px 

@media (max-width: 639px)
  .form-inlineCustomize
    .form-group
      margin-bottom: 0

@media (max-width: 479px) 
  .form-inlineCustomize
    .form-group
      &:nth-child(1)
        width: 100%
      &:nth-child(2), &:nth-child(3)
        width: 50%

@media (max-width: 374px)
  .form-inlineCustomize
    .form-group
      label, select
        font-size: 12px


/*------------------------------------*/
/* Table   
/*------------------------------------*/  
.tableCustomize
  background-color: $white
  border: 
    top: $lineStyle
    right: $lineStyle
    bottom: $lineStyle
    left: 0
  margin-bottom: 8px
  thead 
    background-color: $blue-light 
  th, td
    color: $gray-700
    font-size: 14px
  tr:nth-child(1)
    td
      border-top: 0
  td 
    font-weight: 400
  th:nth-child(2), th:nth-child(3), td:nth-child(5), td:nth-child(3)
    white-space: nowrap
  td:nth-child(1)
    padding-left: 24px
  td:nth-child(4)
    min-width: 90px
  tbody
    td:nth-child(6)
      color: $success

.table thead th 
  border-bottom: 0

.badge
  font-weight: 200
  vertical-align: middle

@media (max-width: 1199px)
  .tableCustomize 
    td:nth-child(1)
      padding-left: 12px

@media (max-width: 767px)
  .tableCustomize 
    td 
      padding: 0.45rem
    
@media (max-width: 639px)
  table.tableCustomize
    display: block
  .tableCustomize
    thead
      display: none
    tbody, tr, td
      display: block
    td
      padding: 0.3rem
      padding-left: 80px
      position: relative
    td::before
      width: 80px
      display: inline-block
      font-weight: 700
      position: absolute
      top: 50%
      left: 8px
      transform: translateY(-50%)
    .td-display
      display: inline-block
      margin-right: 8px
    td:nth-child(1)::before
      content: '#'
    td:nth-child(2)::before
      content: '處理狀況'
    td:nth-child(3)::before
      content: '發生時間'
    td:nth-child(4)::before
      content: '災害類型'
    td:nth-child(5)::before
      content: '區域'
    td:nth-child(6)::before
      content: '詳細位置'
      color: $gray-900
    td:nth-child(7)::before
      content: '災情描述'
    td:nth-child(1)
      background-color: $blue-light
      padding-left: 24px
    
      
/*------------------------------------*/
/* Pagination  
/*------------------------------------*/  
.pagination
  // margin-bottom: 32px
  .page-item
    margin-top: 8px

.icon-prev
  &:after
    content: '<'
.icon-next
  &:after
    content: '>'